@import url(/styles.css);
/* !the cards styling... */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "button button animation icon"
    "button button textinput textinput"
    "miscellaneous miscellaneous modal modal";
    gap: 1rem;
    margin: 0 2rem;
}

.card {
    background-color: var(--white-color);
    padding: 1rem 2rem;
    /* margin: 2rem; */
}

.langs-used {
    display: flex;
    gap: 6px;
    /* margin-right: 1rem; */
}

.html, .css, .js {
    padding: 2px 4px;
    border: 1px solid var(--brand-color);
    width: 50px;
    height: auto;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    color: var(--text-color);
    border-radius: 2px;
}

.html {background-color: var(--html-color);}
.css {background-color: var(--css-color);}
.js {background-color: var(--js-color); color: var(--brand-color);}

.card-title {
    margin: 1rem 0;
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--brand-color);
}

.card-discription {
    margin: 1rem 0;
    color: var(--brand-color);
}

.component-section button {
    font-size: 0.8rem;
    padding: 6px 8px;
    border-radius: 2px;
    border: 2px solid var(--brand-color);
    box-shadow: 8px, 8px, 8px #000;
}

@media(max-width: 575px) {
    .cards {
        display: flex;
        flex-direction: column;
        /* gap: 1rem;
        margin: 0 2rem; */
    }
}