:root {
    --brand-color: #060F34;
    --secondary-color: #E0A417;
    --text-color: #E7E7F1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

.hero-section {
    background-color: var(--brand-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
}