:root {
    --brand-color: #060F34;
    --secondary-color: #E0A417;
    --secondary-hover: #e0a417b9;
    --text-color: #E7E7F1;
    --text-hover: #e7e7f1d4;
    --white-color: #FFFFFF;


    --html-color: #DD4B25;
    --css-color: #2164AF;
    --js-color: #F7DF1E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

.hero-section {
    background-color: var(--brand-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .logo {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
    padding: 1rem 2rem;
    cursor: pointer;
}

nav .logo span {
    color: var(--secondary-color);
}

nav .headers a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 1rem;
    transition: .2s;
}

nav .headers a:hover {
    color: var(--text-hover);
}

button {
    background-color: var(--secondary-color);
    color: var(--brand-color);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    background-color: var(--secondary-hover);
}

/* main section styling... */
main {
    display: flex;
    height: 100%;
    /* align-items: center; */
}

.cta-section {
    margin: 5rem;
}

.cta-section .cta-title {
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 900;
    margin: 1rem;
}

.cta-section .cta-discription {
    color: var(--text-color);
    font-size: 2rem;
    margin: 1rem;
    max-width: 700px;   /* to keep it readable across wide screens */
}

.cta-section button {
    margin: 1rem;
}

/* out of the hero section... */
.component-section {
    margin: 0 1rem;
    background-color: var(--text-color);
}

.component-section h1 {
    color: var(--brand-color);
    font-size: 2rem;
    font-weight: 900;
}

/* the cards styling... */
.card {
    background-color: var(--white-color);
    height: 200px;
    width: 300px;
    padding: 1rem 2rem;
    margin: 2rem;
}

.langs-used {
    display: flex;
    gap: 6px;
    /* margin-right: 1rem; */
}

.html, .css, .js {
    padding: 2px 4px;
    border: 1px solid var(--brand-color);
    width: 50px;
    height: auto;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    color: var(--text-color);
    border-radius: 2px;
}

.html {background-color: var(--html-color);}
.css {background-color: var(--css-color);}
.js {background-color: var(--js-color); color: var(--brand-color);}

.card-title {
    margin: 1rem 0;
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--brand-color);
}

.card-discription {
    margin: 1rem 0;
    color: var(--brand-color);
}

.component-section button {
    font-size: 0.8rem;
    padding: 6px 8px;
    border-radius: 2px;
    border: 2px solid var(--brand-color);
    box-shadow: 8px, 8px, 8px #000;
}