:root {
    --brand-color: #060F34;
    --secondary-color: #E0A417;
    --secondary-hover: #e0a417b9;
    --text-color: #E7E7F1;
    --text-hover: #e7e7f1d4;
    --white-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

.hero-section {
    background-color: var(--brand-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .logo {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
    padding: 1rem 2rem;
    cursor: pointer;
}

nav .logo span {
    color: var(--secondary-color);
}

nav .headers a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 1rem;
    transition: .2s;
}

nav .headers a:hover {
    color: var(--text-hover);
}

button {
    background-color: var(--secondary-color);
    color: var(--brand-color);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    background-color: var(--secondary-hover);
}

/* main section styling... */
main {
    display: flex;
    height: 100%;
    /* align-items: center; */
}

.cta-section {
    margin: 5rem;
}

.cta-section .cta-title {
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 900;
    margin: 1rem;
}

.cta-section .cta-discription {
    color: var(--text-color);
    font-size: 2rem;
    margin: 1rem;
}

.cta-section button {
    margin: 1rem;
}

/* out of the hero section... */
.component-section {
    margin: 0 1rem;
}

.component-section h1 {
    color: var(--brand-color);
    font-size: 2rem;
    font-weight: 900;
}