:root {
    --brand-color: #060F34;
    --secondary-color: #E0A417;
    --secondary-hover: #e0a417b9;
    --text-color: #E7E7F1;
    --text-hover: #e7e7f1d4;
    --white-color: #FFFFFF;


    --html-color: #DD4B25;
    --css-color: #2164AF;
    --js-color: #F7DF1E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

.hero-section {
    background-color: var(--brand-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .logo {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
    padding: 1rem 2rem;
    cursor: pointer;
}

nav .logo span {
    color: var(--secondary-color);
}

nav .headers a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 1rem;
    transition: .2s;
}

nav .headers a:hover {
    color: var(--text-hover);
}

button {
    background-color: var(--secondary-color);
    color: var(--brand-color);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    background-color: var(--secondary-hover);
}

/* main section styling... */
main {
    display: flex;
    height: 100%;
    /* align-items: center; */
}

aside {
    width: 30%;
    background-color: seagreen;
}

.cta-section {
    margin: 5rem;
}

.cta-section .cta-title {
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 900;
    margin: 1rem;
}

.cta-section .cta-discription {
    color: var(--text-color);
    font-size: 2rem;
    margin: 1rem;
    max-width: 700px;   /* to keep it readable across wide screens */
}

.cta-section button {
    margin: 1rem;
}

/* out of the hero section... */
.sections, .component-section {
    /* margin: 0 1rem; */
    background-color: var(--text-color);
    /* flex: 1; */
    height: 100%;
}

.comp-title {
    color: var(--brand-color);
    font-size: 2rem;
    font-weight: 900;
    margin: 2rem;
}

.paragraph {
    margin: 2rem; 
    font-size: 1.2rem;
    color: var(--brand-color);
}



/* ! question here */
.questions {
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.question {
    width: 100%;
    max-height: 100px;
    background-color: var(--white-color);
    padding: 0 1rem;
    position: relative;
    margin: 0.5rem 0;
}

.question-title {
    color: var(--brand-color);
    font-weight: 800;
    margin: 0.5rem 0;
}

.answer {
    font-size: 1.2rem;
    color: var(--brand-color);
    max-width: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.question i {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.2rem;
    color: var(--brand-color);
    cursor: pointer;
}